<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985776208683-65tjcdj2a3eaur29mij53955qstbt7v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985776208683-65tjcdj2a3eaur29mij53955qstbt7v4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>985776208683-d73j6o2424vcuv01jt6aeb2bk4ptin8v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBV9GQKELH6YdeqjidJJrLr2nlxwUg4-ls</string>
	<key>GCM_SENDER_ID</key>
	<string>985776208683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shade.zign</string>
	<key>PROJECT_ID</key>
	<string>mysocial-342cc</string>
	<key>STORAGE_BUCKET</key>
	<string>mysocial-342cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985776208683:ios:d8b31d2873b91bebe3a36e</string>
</dict>
</plist>